.notificationContent {
  margin: 4px;
  margin-top: 0;
  padding: 2px;
  padding-right: 6px;
  border-top: 1px solid black;
  visibility: visible
}

.notificationContentHidden {
  visibility: hidden;
  max-height: 0px;

}
