.sidebar {
    flex: 0 0 100%;
    width: 17%;
    right: -17%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 136;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    border-left: 1px solid #ececec;
}
